@import "base";
/* ==========================================================================
   Table of Contents
   ==========================================================================
:: Shared Styles
:: Page Name

*/

/* -----------------------------------------
   Shared Styles
   ----------------------------------------- */

/* -----------------------------------------
   Page Name
   ----------------------------------------- */


body {
  background-color: red;
}
